aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
et-xmlfile==1.0.1
fake-useragent==0.1.11
idna==2.7
jdcal==1.4
multidict==4.5.1
openpyxl==2.5.11
packaging==18.0
pip-review==1.0
pyparsing==2.3.0
python-dotenv==0.9.1
requests==2.20.1
six==1.11.0
telepot==12.7
urllib3==1.24.1
yarl==1.2.6
